.container {
  display: block;
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  max-width: 1182px;
  @include container-paddings();
}

.container .container {
  padding-right: 0;
  padding-left: 0;
}

.visually-hidden {
  @include visually-hidden;
}

h1,
.h1 {
  font-size: 30px;
  font-weight: 700;
  line-height: 1;
  word-break: unset;
  word-wrap: break-word;

  @media (min-width: $tablets) {
    font-size: 40px;
    word-break: unset;
  }

  @media (min-width: $desktops-md) {
    font-size: 52px;
  }
}

h2,
.h2 {
  font-size: 36px;
  font-weight: 400;
  line-height: 1.2;
  color: #343434;
  text-transform: uppercase;
  word-wrap: break-word;

  @include max-w($tablets) {
    font-size: 24px;
  }
}

.h2 {
  padding-left: 30px;

  @include max-w($tablets) {
    padding-left: 0;
  }
}

h3,
.h3 {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  color: #343434;
  text-transform: uppercase;
  word-wrap: break-word;

  @include max-w($tablets) {
    font-size: 18px;
    line-height: 22px;
  }
}

.logo {
  display: block;
  width: fit-content;

  &__img {
  }
}

.lock {
  overflow: hidden;
}

.burger-btn {
  @include no-btn;
  position: relative;
  z-index: 25;
  border-width: 0;
  width: 47px;
  height: 50px;
  display: none;

  @include max-w($desktops-sm) {
    display: block;
  }

  &__line {
    position: absolute;
    display: block;
    width: 12px;
    height: 2px;
    background-color: #00b7b7;
    transition: top 0.3s, left 0.3s, width 0.3s, opacity 0.3s, transform 0.3s;
    transform: rotate(0deg);
    opacity: 1;
  }

  &__line:nth-child(even) {
    left: 25px;
    border-radius: 0 9px 9px 0;
  }

  &__line:nth-child(odd) {
    left: 13px;
    border-radius: 9px 0 0 9px;
  }

  &__line:nth-child(1),
  &__line:nth-child(2) {
    top: 17px;
  }

  &__line:nth-child(4),
  &__line:nth-child(3) {
    top: 24px;
  }

  &__line:nth-child(5),
  &__line:nth-child(6) {
    top: 31px;
  }

  &__line:nth-child(6) {
    width: 6px;
  }

  &.active &__line:nth-child(1),
  &.active &__line:nth-child(6) {
    transform: rotate(45deg);
  }

  &.active &__line:nth-child(2),
  &.active &__line:nth-child(5) {
    transform: rotate(-45deg);
  }

  &.active &__line:nth-child(1) {
    top: 19px;
    left: 13px;
    width: 13px;
  }

  &.active &__line:nth-child(2) {
    top: 19px;
    left: 22px;
  }
  &.active &__line:nth-child(3) {
    left: -50%;
    opacity: 0;
  }
  &.active &__line:nth-child(4) {
    left: 100%;
    opacity: 0;
  }
  &.active &__line:nth-child(5) {
    top: 28px;
    left: 13px;
  }
  &.active &__line:nth-child(6) {
    top: 28px;
    left: 22px;
    width: 12px;
  }
}

.btn {
  display: inline-block;
  padding: 7px 10px 8px;
  border: 2px solid #00b7b7;
  border-radius: 65px;
  font-size: 12px;
  line-height: 15px;
  color: #000000;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.01em;
  background-color: transparent;
  outline: 0;
  transition: background-color 0.3s, color 0.3s;

  &:hover,
  &:focus {
    color: #6dd4cd;
    background-color: #fff;
  }

  &--white {
    border-color: #fff;
    color: #fff;
  }
}

.right-color {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  width: 58px;

  @include max-w($desktops-lg) {
    display: none;
  }
}

.slider-button {
  @include no-btn;
  position: absolute;
  top: 30px;
  z-index: 10;
  display: flex;
  align-items: center;
  width: 40px;
  height: 50px;

  @include max-w($tablets) {
    top: 0;
  }

  &--prev {
    left: -51px;
    @include max-w($desktops-lg) {
      left: 0;
    }
    @include max-w($tablets) {
      left: unset;
      right: 43px;
    }
  }

  &--next {
    right: 50px;
    justify-content: flex-end;

    @include max-w($desktops-lg) {
      right: 0;
    }

    svg {
      transform: rotate(180deg);
    }
  }
}

.button {
  padding: 11px 30px;
  display: inline-block;
  text-align: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #000;
  background-color: #fff;
  border: 2px solid #00b7b7;
  transition: background-color 0.3s, color 0.3s;
  outline: 0;

  &:focus,
  &:hover {
    background-color: #00b7b7;
    color: #fff;
  }
}

.mb30 {
  margin-bottom: 30px;
}

.contacts {
  display: flex;
  align-items: center;
  gap: 40px;

  @include max-w($tablets) {
    gap: 20px;
    flex-direction: column;
    align-items: flex-start;
  }

  &__item {
  }

  &__link {
    display: flex;
    align-items: center;
    font-size: 22px;
    line-height: 24px;
    color: #000;
    gap: 8px;
  }
}

.input {
  padding: 0 0 5px;
  background-color: transparent;
  font-size: 22px;
  line-height: 27px;
  text-align: center;
  border: 0;
  width: 100%;
  color: #000;
  border-bottom: 1px solid #000;

  &::placeholder {
    color: #212529;
  }

  &--textarea {
    padding: 13px 18px;
    border: 1px solid #000;
    resize: none;
    height: 118px;
    width: 100%;
    text-align: left;
  }
}

.checkbox {
  display: block;

  &__text {
    position: relative;
    padding-left: 67px;
    font-size: 14px;
    line-height: 17px;

    &::after {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      background-image: url(../img/check.png);
      background-repeat: no-repeat;
      background-size: contain;
      width: 45px;
      height: 45px;
      cursor: pointer;
      transition: transform 0.3s;
    }

    &::before {
      content: "";
      position: absolute;
      top: 10px;
      left: 10px;
      width: 24px;
      height: 25px;
      background-image: url(../img/sprite.svg#check);
      background-repeat: no-repeat;
      background-size: contain;
      z-index: 2;
      opacity: 0;
      transition: opacity 0.4s;
      cursor: pointer;
    }

    &:hover::after {
      transform: rotate(30deg);
    }
  }

  input:focus + &__text::after {
    transform: rotate(90deg);
  }

  &__input:checked + &__text::before {
    opacity: 1;
  }

  &__text-in {
    display: block;
    padding-bottom: 10px;
    border-bottom: 1px solid #000;
  }
}

.relative {
  position: relative;
}

.social {
  display: flex;
  gap: 40px;

  &__item {
  }

  svg {
    fill: #53c2bb;
    transition: fill 0.3s;
  }

  &__link:hover svg {
    fill: #25a9b7;
  }
}

.padding-l {
  padding-left: 30px;
  margin-right: 49px;

  @include max-w($tablets) {
    padding-left: 0;
    margin-right: 0;
  }
}

.img-right {
  position: relative;

  @include max-w($desktops-lg) {
    display: none;
  }

  &__img {
    position: absolute;
    top: 0;
    right: 58px;
    width: 553px;
    object-fit: contain;
    z-index: -1;
  }
}

main {
  position: relative;
  overflow-x: hidden;
}

.blockquote {
  background-image: url(../img/blockquote.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right top;
  padding: 45px 112px 45px 249px;
  margin-right: 30px;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  text-transform: uppercase;
  font-style: normal;
  color: #ffffff;

  @include max-w($desktops-md) {
    padding: 45px 60px 45px 167px;
    margin-right: 0;
  }

  @include max-w($desktops-sm) {
    padding: 45px 50px 45px 50px;
  }

  @include max-w($tablets) {
    font-size: 16px;
    line-height: 25px;
    padding: 45px 25px;
    background-position: center;
  }
}

.overlay {
  background-color: rgba(1, 1, 1, 0.7);
  position: fixed;
  z-index: 30;

  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transform: translate(150%, -150%) scale(0);
  transition: transform 0.5s;

  &.active {
    transform: translate(0, 0) scale(1);
  }
}

.popap {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 35;
  width: 100%;
  max-width: 800px;
  max-height: calc(100vh - 50px);
  overflow-y: auto;
  padding: 0 15px;
  transform: translate(150%, -150%) scale(0);
  transition: transform 0.5s;

  &.active {
    transform: translate(-50%, -50%) scale(1);
  }

  &__container {
  }

  &__inner {
    background-color: #fff;
    position: relative;
  }

  &__close {
    position: absolute;
    right: 0;
    top: 0;
    display: block;
    * {
      background-color: #000000;
    }
  }

  .form {
    padding-top: 20px !important;
  }

  &--line &__inner {
    padding: 40px 34px;

    &::after {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      height: 100%;
      width: 34px;
      background-color: #00b7b7;
    }

    @include max-w($tablets) {
      padding-left: 0;
      padding-right: 0;
      &::after {
        content: unset;
      }
    }
  }

  &--line &__close {
    right: 34px;

    @include max-w($tablets) {
      right: 0;
    }
  }
}

.delivery {
  max-width: 1064px;

  &__container {
    max-width: 865px;
  }
}

.recommend {
  max-width: 1064px;

  &__container {
    max-width: 865px;
  }

  &__form .form__btn {
    margin-right: auto;
  }
}

.contacts-popap {
  font-family: $ff-com;
  font-size: 20px;
  line-height: 25px;
  color: #212529;

  &__logo {
    margin-bottom: 12px;
  }

  &__list {
    padding-left: 203px;
    margin-bottom: 30px;
    @include max-w($tablets) {
      padding-left: 0;
    }
  }

  &__item:not(:last-child) {
    margin-bottom: 10px;
  }

  &__br {
    display: block;
  }

  &__link {
    b {
      text-transform: uppercase;
      display: block;
    }
  }

  &__bottom {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px 70px;
  }

  &__tel {
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: #4cb7b2;
  }
}

.line-hover {
  display: inline-block;
  position: relative;
  outline: 0;

  &:after {
    content: "";
    display: block;
    position: absolute;
    right: 0;
    bottom: -3px;
    width: 0;
    height: 2px;
    background-color: black;
    transition: color 0.2s, width 0.5s;
  }

  &:focus:after,
  &:hover:after {
    content: "";
    right: unset;
    left: 0;
    width: 100%;
    background-color: #4cb7b2;
  }
}

.color-hover {
  transition: color 0.3s;
  outline: 0;

  &:focus,
  &:hover {
    color: #00b7b7;
  }
}
