html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

*:first-child {
  margin-top: 0;
}

*:last-child {
  margin-bottom: 0;
}

body {
  position: relative;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #000;
  background-color: #fff;
  min-width: 320px;
  overflow-x: hidden;
}

blockquote {
  margin: 0;
}

a {
  text-decoration: none;
  transition-property: color;
  transition-duration: 0.3s;
  color: inherit;

  &:focus-visible,
  &:hover {
    @media (min-width: $desktops-sm) {
      // color: $color-green-2;
    }
  }

  &:active {
  }
}

b {
  font-weight: 600;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}

dl {
  margin-top: 0;
  margin-bottom: 0;
}

img {
  display: block;
  max-width: 100%;
  object-fit: contain;
}

button:not(:disabled) {
  cursor: pointer;
}

input,
button,
textarea,
select {
  font: inherit;
  letter-spacing: inherit;
  appearance: none;
}

address {
  font-style: normal;
}

figure,
p {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}

cite {
  font-style: normal;
}
