$phones-min: 320px;
$phones-sm: 360px;
$phones-md: 480px;

$phones-lg: 575px;
$tablets: 768px;
$desktops-sm: 1024px;
$desktops-md: 1200px;

$desktops-lg: 1400px;
$desktops-xl: 1600px;

$ff-com: "Commissioner", sans-serif;

// $color-white: #ffffff;
// $color-white-1: #f9f9f9;
// $color-white-2: #f8f8f8;

// $color-pink: #eef1f2;
// $color-grey: #EEF0F2;

// $color-black: #000000;
// $color-black-1: #353d42;

// $color-blue: #1fbcee;
// $color-blue-1: #3caff2;
// $color-blue-2: #0296c0;
// $color-green: #24ac6e;
// $color-green-2: #1aac6e;
// $color-orange: #ff5027;
// $color-orange-2: #E88329;


