.rates {
  padding: 45px 0 75px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;

  &__container {
  }

  &__inner {
    padding-left: 30px;
    @include max-w($desktops-sm) {
      padding-left: 0;
    }
  }

  &__h2 {
    color: #343434;
    margin-bottom: 45px;
    @include max-w($desktops-sm) {
      text-align: center;
    }
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    gap: 35px;
    margin-bottom: 35px;
    @include max-w($desktops-sm) {
      justify-content: center;
    }
  }

  &__item {
  }

  &__card {
    margin-bottom: 30px;
  }

  &__button {
    display: block;
    width: 100%;
  }

  &__text {
    max-width: 483px;
    font-style: italic;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
  }
}

.container {
}

